@model IEnumerable<MVC_Project1294727.Models.Cours>

@{
    ViewBag.Title = "Index";
}

<h2 class="display-4">Course List</h2>

<p class="d-flex justify-content-end">
    <a href="@Url.Action("Create","Cours")" class="btn btn-primary btn-sm">Add New Course</a>
</p>
<table class="table table-bordered table-striped table-sm">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Credits)
        </th>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Credits)
        </td>
        <td>
            <a href="@Url.Action("Edit","Cours", new { id=item.CourseID })"  class="btn btn-success btn-sm"><i class="fa fa-edit"></i></a>
            <a href="@Url.Action("Delete","Cours", new { id=item.CourseID })" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
        </td>
    </tr>
}

</table>
